EXPO_PUBLIC_ENABLE_STARKNET=true
EXPO_PUBLIC_LOCALHOST_RPC_URL=http://localhost:5050/rpc
EXPO_PUBLIC_ACCOUNTS_CONTRACT_ADDRESS=0xBEEF
EXPO_PUBLIC_REGISTRY_CONTRACT_ADDRESS=0xDEAD
EXPO_PUBLIC_TIC_TAC_TOE_CONTRACT_ADDRESS=0xTTT
EXPO_PUBLIC_CAVOS_APP_ID=app
EXPO_PUBLIC_APP_SCHEME=app
EXPO_PUBLIC_AVNU_PAYMASTER_API_KEY=key
EXPO_PUBLIC_STARKNET_RPC=https://starknet-sepolia.public.blastapi.io/rpc/v0_8
EXPO_PUBLIC_STARKNET_CHAIN=SN_SEPOLIA
EXPO_PUBLIC_CAVOS_ORG_SECRET=shhh